﻿@using Web.Models;
@{
    Layout = "~/Views/Siteadmin/Shared/_Layout.cshtml";
}

@section css {
    @Styles.Render("~/Scripts/elfinder/css/smoothness-1.8.23/jquery-ui-1.8.23.custom.css")
    @Styles.Render("~/Scripts/elfinder/css/elfinder.full.css")
    @Styles.Render("~/Scripts/elfinder/windows-10/css/theme.css")
    @Styles.Render("~/Scripts/imgareaselect/css/imgareaselect-default.css")
    @Styles.Render("~/Content/Siteadmin/modules/bootstrap-select/bootstrap-select_new.css")
}

<div class="content-body">
    <!-- layout-content-->
    <section class="panel panel-default">
        <header class="panel-heading">
            @if (ViewBag.Tables == "insurance_content_add" || ViewBag.Tables == "insurance_company_content_add")
            {
                <h1 class="h5 float-left font-weight-bold">@ViewBag.addTitle</h1>
            }
            else
            {
                <h1 class="h5 float-left font-weight-bold">@Html.Raw(ViewBag.system_menu_data.title) @ViewBag.addTitle</h1>
            }

            <div class="float-right">
                @if (ViewBag.system_menu_data.act_path == "list")
                {
                    if (ViewBag.Tables != "insurance_content_add" && ViewBag.Tables != "insurance_company_content_add" && ViewBag.Tables != "insurance_content_main" && ViewBag.Tables != "insurance_company_content_main")
                    {
                        if (ViewBag.addId == "")
                        {
                            <button class="btn btn-sm btn-light" type="button" onclick="window.location.href='@Url.Content("~/siteadmin/" + ViewBag.Tables + "/list/" + ViewBag.returnCategory)'" title="返回"><i class="icon-undo2"></i><span class="ml-1 d-none d-md-inline-block">返回</span></button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-light" type="button" onclick="window.location.href='@Url.Content("~/siteadmin/" + ViewBag.Tables + "/list" + ViewBag.addId)'" title="返回"><i class="icon-undo2"></i><span class="ml-1 d-none d-md-inline-block">返回</span></button>
                        }
                    }
                }
                @if (ViewBag.useLang == "Y")
                {
                    <div class="btn-group btn-group-sm dropdown" role="group">
                        <button class="btn dropdown-toggle btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="語系" id="tableLen"><i class="icon-globe"></i><span class="ml-1 d-none d-md-inline-block nowLangTitle">@Html.Raw(ViewBag.viewLanguage)</span></button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tableLen">
                            @if (ViewBag.language != null)
                            {
                                int i = 0;
                                foreach (language item in ViewBag.language)
                                {
                                    <a class="dropdown-item changInputLang  @if (i == 0) { @Html.Raw("selected") }" href="#" data-lang="@Html.Raw(item.lang)">@Html.Raw(item.title)</a>
                                    i++;
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </header>
        <div class="panel-wrapper">
            <div class="panel-body">
                @*@Url.Content("~/siteadmin/" + ViewBag.Tables + "/save/" + ViewBag.returnCategory)*@
                <form action="@Url.Content("~/siteadmin/" + ViewBag.Tables + "/save/" + ViewBag.returnCategory)" method="post" name="saveForm" id="saveForm">

                    @if (ViewBag.useLang == "Y")
                    {

                        foreach (language item in ViewBag.language)
                        {

                            <input type="hidden" name="id_@item.lang" id="id_@item.lang" value="@if (ViewBag.data != null && ViewBag.data.ContainsKey(item.lang)) { @Html.Raw(ViewBag.data[item.lang]["id"]) }">

                        }

                        <input type="hidden" name="guid" id="guid" value="@if(ViewBag.data != null) { @Html.Raw(ViewBag.data[ViewBag.defLang]["guid"]) }">

                        if (ViewBag.data != null && ViewBag.data[ViewBag.defLang]["create_date"] != null && ViewBag.data[ViewBag.defLang]["create_date"].ToString() != "")
                        {
                            <input type="hidden" name="create_date" id="create_date" value="@DateTime.Parse(ViewBag.data[ViewBag.defLang]["create_date"].ToString()).ToString("yyyy/MM/dd HH:mm:ss")">

                            if (ViewBag.Tables == "user")
                            {
                                if (ViewBag.data != null && ViewBag.data["change_date"] != null && ViewBag.data["change_date"].ToString() != "")
                                {
                                    <input type="hidden" name="change_date" id="change_date" value="@DateTime.Parse(ViewBag.data[ViewBag.defLang]["change_date"].ToString()).ToString("yyyy/MM/dd HH:mm:ss")">
                                }
                            }
                        }
                    }
                    else
                    {
                        <input type="hidden" name="id" id="id" value="@if (ViewBag.data != null) { @Html.Raw(ViewBag.data["id"]) }">
                        <input type="hidden" name="guid" id="guid" value="@if(ViewBag.data != null) { @Html.Raw(ViewBag.data["guid"]) }">

                        if (ViewBag.data != null && ViewBag.data["create_date"] != null && ViewBag.data["create_date"].ToString() != "")
                        {
                            <input type="hidden" name="create_date" id="create_date" value="@DateTime.Parse(ViewBag.data["create_date"].ToString()).ToString("yyyy/MM/dd HH:mm:ss")">

                            if (ViewBag.Tables == "user")
                            {
                                if (ViewBag.data != null && ViewBag.data["change_date"] != null && ViewBag.data["change_date"].ToString() != "")
                                {
                                    @*<input type="hidden" name="change_date" id="change_date" value="@DateTime.Parse(ViewBag.data["change_date"].ToString()).ToString("yyyy/MM/dd HH:mm:ss")">*@
                                }
                            }
                        }
                    }

                    @if (Request["c"] != null)
                    {
                        if (ViewBag.Tables == "insurance_content_add" || ViewBag.Tables == "insurance_content_main" || ViewBag.Tables == "insurance_company_content_add")
                        {

                            <input type="hidden" name="category" id="category" value="@ViewBag.category">
                            <input type="hidden" name="main_guid" id="main_guid" value="@Request["c"].ToString()">
                        }
                        else
                        {
                            <input type="hidden" name="category" id="category" value="@Request["c"].ToString()">
                        }
                    }

                    <!--隱藏欄位-->
                    @if (ViewBag.hiddenCol != null)
                    {

                        foreach (KeyValuePair<string, object> item in ViewBag.hiddenCol)
                        {
                            ViewBag.key = item.Key;
                            var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                            ViewBag.colJson = mJObj[0];

                            ViewBag.category = null;

                            ViewBag.inherit = null;
                            //有來源分類
                            if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                            {
                                ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString());

                            }

                            @Html.Partial("Form/" + mJObj[0]["type"])
                        }

                    }

                    @if (ViewBag.mainCol != null)
                    {

                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>主要設定</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.mainCol)
                            {
                                var guid = ViewBag.guid;
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.category = null;

                                ViewBag.inherit = null;
                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();

                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString());
                                    //if(ViewBag.data != null && item.Key == "dist" && ViewBag.Tables == "claims_servicelocation")
                                    //{
                                    //    var category = ViewBag.data["tw"]["city"].ToString();
                                    //    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString(), category);
                                    //}
                                    //else
                                    //{
                                    //    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString());
                                    //}

                                }

                                if (item.Key == "content")
                                {
                                    @*@Html.Encode(Html.Partial("Form/" + mJObj[0]["type"]))*@
                                    @*@Html.Raw(HttpUtility.HtmlDecode(Html.Encode(Html.Partial("Form/" + mJObj[0]["type"]))))*@
                                    @Html.Partial("Form/" + mJObj[0]["type"])
                                }
                                else
                                {
                                    @Html.Partial(Html.Encode("Form/" + mJObj[0]["type"]))
                                }

                            }
                        </fieldset>
                    }

                    @if (ViewBag.userCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>帳戶詳細資料</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.userCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.mediaCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>多媒體檔案</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.mediaCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.reviewCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>審核者設定</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.reviewCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString());
                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.verifyCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>審核管理</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.verifyCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;
                                ViewBag.masterUser = null;
                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString());
                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.reInfoCol != null)
                    {

                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>回覆內容</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.reInfoCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.category = null;

                                ViewBag.inherit = null;
                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString(), ViewBag.data[ViewBag.defLang]);

                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])
                            }
                        </fieldset>
                    }

                    @if (ViewBag.reUserCol != null)
                    {

                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>回覆者設定</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.reUserCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.category = null;

                                ViewBag.inherit = null;

                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString(), ViewBag.data[ViewBag.defLang]);

                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])
                            }
                        </fieldset>
                    }

                    @if (ViewBag.reIndexUse != null)
                    {

                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>首頁相關設定</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.reIndexUse)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.category = null;

                                ViewBag.inherit = null;

                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString(), ViewBag.data[ViewBag.defLang]);

                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])
                            }
                        </fieldset>
                    }

                    @if (ViewBag.otherCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>進階選項</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.otherCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.verifyColForum != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>審核管理</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.verifyColForum)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString(), ViewBag.data[ViewBag.defLang]);
                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.modifyerCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>最後異動者</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.modifyerCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.delayCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>延遲設定</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.delayCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }
                    @if (ViewBag.delay2Col != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>長期評估設定</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.delay2Col)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }
                    @if (ViewBag.viewSetCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>顯示設定</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.viewSetCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }
                    @if (ViewBag.permissions[ViewBag.system_menu_data.guid] == "F")
                    {
                        <div class="text-center my-4 form-btn-group">
                            @if (ViewBag.Tables == "forum")
                            {
                                <input type="hidden" name="saveAndSend" id="saveAndSend" value="N">
                                <button class="btn btn-info mr-1 saveAndSend" type="button">儲存並發送通知</button>
                            }

                            @if (ViewBag.edituser == "Y")
                            {
                                <input type="hidden" name="formEditUser" id="formEditUser" value="EditUser" />
                            }

                            <button class="btn btn-main submitBut" type="submit">送出</button>
                            @*<button class="btn btn-main submitBut" type="button" onclick="c1()">送出</button>*@
                            <button class="btn btn-default" type="button" onclick="clearSaveForm()">清除重填</button>
                            @*<button class="btn btn-default" type="reset">清除重填</button>*@
                        </div>
                    }

                    @*<div class="text-center my-4 form-btn-group">
                            @if (ViewBag.Tables == "forum")
                            {
                                <input type="hidden" name="saveAndSend" id="saveAndSend" value="N">
                                <button class="btn btn-info mr-1 saveAndSend" type="button">儲存並發送通知</button>
                            }
                            @if (ViewBag.edituser == "Y")
                            {
                                <input type="hidden" name="formEditUser" id="formEditUser" value="EditUser" />
                            }

                            <button class="btn btn-main submitBut" type="submit">送出</button>
                            <button class="btn btn-default" type="reset">清除重填</button>
                        </div>*@
                </form>
            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>
@section scripts {
    <script>
        $(document).ready(function () {


             if ('@TempData["success"]' == 'True') {
                @*swal({
                    title: "系統資訊",
                    text: "送出完成",
                    type: "success",
                    confirmButtonText: "確定",
                }, function () {
                    window.location.href = '@TempData["Url"]';
                });*@

                 swal({
                     title: "系統資訊",
                     text: msg,
                     type: "送出完成",
                     showCancelButton: false,
                     //confirmButtonText: "確定",
                     //closeOnConfirm: false
                     showConfirmButton: false,
                     buttons: false,
                     timer: 1000
                 }, function () {
                    window.location.href = '@TempData["Url"]';
                });
            }


            if ('@ViewBag.CheckFirstNinety' == 'First') {
                $("#thepr").attr('required', '');
                $("#thepr_chk").attr('required', '');
                $("#first").val("Y");

                swal({
                    title: "系統資訊",
                    text: "首次登入系統，請變更您的密碼",
                    type: "error",
                    confirmButtonText: "確定",
                }, function () {
                        return false;
                });
            }
            else if ('@ViewBag.CheckFirstNinety' == 'Ninety') {
                $("#thepr").attr('required', '');
                $("#thepr_chk").attr('required', '');
                $("#first").val("Y");

                swal({
                    title: "系統資訊",
                    text: "您的密碼已經超過90天尚未變更，請變更您的密碼",
                    type: "error",
                    confirmButtonText: "確定",
                }, function () {
                    return false;
                });
            }

            if ('@ViewBag.Tables' == 'claims_servicelocation') {
                $('.distsdata').hide();
                var city = $("#city").val();
                if (city != "") {
                    $('.' + city).show();
                }


                $("#city").on("change", function () {
                    var city = $("#city").val();
                    $('.distsdata').prop('selected', false);
                    $('.distsdata').hide();
                    $('.' + city).show();

                    $("#dist").val('default');
                    $("#dist").selectpicker('refresh');
                });
            }
        });

        //function c1() {
        //    document.getElementById("title_tw").value = "";
        //    console.log(document.getElementById("cke_content").value);
        //    var aaaaaa = CKEDITOR.instances.content.getData();
        //    console.log(aaaaaa);
        //    CKEDITOR.instances.content.setData("curry");
        //}
    </script>

    <input type="hidden" id="fileMegRoot" value="@Url.Content("~/connector")" />















    <!--page index-->
    @*@Scripts.Render("~/Content/Siteadmin/scripts/index2.js")*@

    <!-- * * * DataTables 表格-->
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/datatables.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/dataTables.responsive.min.js")
    <!-- * * form -->
    <!-- * * * ckeditor 編輯器-->
    @Scripts.Render("~/Content/Siteadmin/modules/ckeditor/ckeditor.js")
    <!-- * * * Bootstrap Daterangepicker 日期區間-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/moment.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/daterangepicker.js")
    <!-- * * * bootstrap-select 下拉選單-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-select/bootstrap-select_new.js")

    @Scripts.Render("~/Scripts/scripts/plugins/select2.min.js")

    <!-- * * * multiselect 分類左右選擇 select multiple-->
    @Scripts.Render("~/Content/Siteadmin/modules/multiselect/js/jquery.multi-select.js")
    <!-- * * * multiselect 分類左右選擇 搜尋框 jquery-quicksearch-->
    @Scripts.Render("~/Content/Siteadmin/modules/quicksearch-master/jquery.quicksearch.js")
    @Scripts.Render("~/Content/Siteadmin/modules/select2/js/select2.full.min.js")
    <!-- * * * typeahead 建議字詞清單 typeahead.bundle.js-->
    @Scripts.Render("~/Content/Siteadmin/modules/typeahead/typeahead.bundle.js")

    <!-- * * * inputmask 表單格式-->
    @Scripts.Render("~/Content/Siteadmin/modules/inputmask/jquery.inputmask.bundle.min.js")
    <!-- * * * jquery.repeater.min.js 新增欄位-->
    @Scripts.Render("~/Content/Siteadmin/modules/repeater/jquery.repeater.min.js")
    <!-- * * * bootstrap-colorpicker-master 顏色選取-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-colorpicker-master/js/bootstrap-colorpicker.min.js")
    <!-- * * * nestable 排序拖曳-->
    @Scripts.Render("~/Content/Siteadmin/modules/nestable/jquery.nestable.js")
    <!-- * * * dropzonejs 檔案上傳-->
    @Scripts.Render("~/Content/Siteadmin/modules/dropzonejs/dropzone.js")
    <!-- * * * Jcrop Image Cropping Plugin 圖片座標截圖 -->
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.Jcrop.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.color.js")
    <!-- * * * ammap 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/ammap.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/maps/js/worldLow.js")
    <!-- * * * amcharts 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/amcharts.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/pie.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/serial.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/export/export.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/dataloader/dataloader.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/themes/light.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/lib/amstock.js")
    <!-- * * * bootstrap-datepicker 日曆-->
    <!--@Scripts.Render("~/Content/Siteadmin/modules/bootstrap-datepicker/bootstrap-datepicker.min.js")-->
    <!-- * * * bootstrap-year-calendar 年曆-->
    <!-- @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/bootstrap-year-calendar.js")
     @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/languages/bootstrap-year-calendar.tw.js")-->
    @Scripts.Render("~/Content/Siteadmin/scripts/form.js")

    @Scripts.Render("~/Content/Siteadmin/scripts/datatables.js")
    @Scripts.Render("~/Content/Siteadmin/scripts/typeahead.js")

    <script src="@Url.Content("~/")Scripts/elfinder/js/elfinder.full.js" type="text/javascript" charset="utf-8"></script>



    @Scripts.Render("~/Scripts/elfinder/js/i18n/elfinder.zh_TW.js")
    @Scripts.Render("~/Scripts/elfinder/js/jquery-ui-1.11.4.min.js")
    @Scripts.Render("~/Scripts/imgareaselect/scripts/jquery.imgareaselect.js")

    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")
    @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")

    @Scripts.Render("~/Scripts/jquery.blockUI.js")

    <!-- /  layout-js-->
}