﻿<html lang="tw">
<head>
    <title>@HttpUtility.HtmlDecode(ViewBag.systemDataTitle)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <meta name="csrf-token" content="@ViewBag.csrftoken">
    @Styles.Render("~/Content/Siteadmin/styles/app.css")
    @*@Styles.Render("~/Content/Siteadmin/modules/datatables/datatables.min.css")*@
    @RenderSection("css", required: false)
    <style>
          div.dataTables_wrapper {
            width: @((ViewBag.Tables== "projectsetting" || ViewBag.Tables == "MLCONTACTUS") ? "2800px;":"");
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <!-- *  header-->
        <div class="page-header fixed-top">
            <h1 class="navbar-brand left-width pl-3 navbar navbar-expand-lg"><a class="font-weight-bold text-uppercase" href="@Url.Content("~/siteadmin")"><span class="text-main"><img src="@Url.Content("~/" + HttpUtility.HtmlDecode(ViewBag.systemDataLogo))" /></span></a></h1>
            <button class="btn btn-link toggle-left-nav-btn no-decoration" id="toggle_nav_btn" type="button"><span class="text-hide">選單</span><span class="line"></span></button>
            <div class="top-right pr-2 mt-1">
                <!--
                <div class="d-inline-block dropdown globe">
                    <button class="btn btn-link dropdown-toggle px-2" id="menu-globe" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-globe h4"></i><span class="text-hide">語系</span></button>
                    <div class="dropdown-menu dropdown-menu-right rounded-0" aria-labelledby="menu-globe"><a class="dropdown-item active" href="#"><i class="img-thumbnail flag flag-icon-background flag-icon-tw"></i><span>繁體中文</span></a><a class="dropdown-item" href="#"><i class="img-thumbnail flag flag-icon-background flag-icon-cn"></i><span>简体中文</span></a><a class="dropdown-item" href="#"><i class="img-thumbnail flag flag-icon-background flag-icon-us"></i><span>English</span></a></div>
                </div>
                    -->
                <div class="d-inline-block dropdown globe">
                    <button class="btn btn-link dropdown-toggle px-2" id="menu-profile" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-user h4"></i><span class="text-hide">帳戶</span></button>
                    <div class="dropdown-menu dropdown-menu-right rounded-0" aria-labelledby="menu-profile">
                        <a class="dropdown-item active" href="@Url.Content("~/siteadmin/edituser/user/edit/" + ViewBag.userData["guid"])"><i class="icon-vcard"></i><span>個人資料</span></a>
                        @*<a class="dropdown-item" href="@Url.Content("~/siteadmin/web_data/edit/1")"><i class="icon-equalizer"></i><span>系統設定</span></a>*@
                        <a class="dropdown-item" href="@Url.Content("~/siteadmin/logout")"><i class="icon-log-out"></i><span>登出</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- * /  header  -->
        <div class="border-box page-content">
            <div class="content-header">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <nav class="ml-2 mt-1" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Content("~/siteadmin")"><i class="icon-home3 mr-2"></i><span>系統首頁</span></a></li>

                                @if (ViewBag.tables != "")
                                {
                                    <li class="breadcrumb-item"><span>@Html.Raw(HttpUtility.HtmlDecode(ViewBag.system_menu_top_data_title))</span></li>
                                    <li class="breadcrumb-item active"><span>@Html.Raw(ViewBag.system_menu_data.title)</span></li>
                                }
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            @RenderBody()
        </div>
        <!-- *  sidebar-->
        <nav class="fixed-sidebar-left left-width">
            <ul class="side-nav nicescroll-bar">
                <li class="navigation-header"><span>default</span><i class="icon-dots-three-horizontal"></i></li>
                <li>
                    <a href="@Url.Content("~/siteadmin")">
                        <div class="float-left"><i class="icon-home3"></i><span class="right-nav-text">系統首頁</span></div>
                        <div class="clearfix">       </div>
                    </a>
                </li>
                <li>
                    <hr class="mb-0">
                </li>
                <li class="navigation-header"><span>modules</span><i class="icon-dots-three-horizontal"></i></li>
                @{
                    Dictionary<String, Object> permissions = new Dictionary<string, object>();
                    List<String> permissionsTop = new List<String>();
                    if (ViewBag.permissions != null)
                    {
                        permissions = ViewBag.permissions;
                        permissionsTop = ViewBag.permissionsTop;
                    }

                }
                @if (ViewBag.system_menu != null)
                {

                    foreach (var item in ViewBag.system_menu)
                    {
                        if (item.category == "0" && item.area != "system" && permissionsTop.IndexOf(item.guid) != -1)
                        {

                            <li>
                                <a class="@if(ViewBag.system_menu_data != null && ViewBag.system_menu_data.category != item.guid){@Html.Raw("collapsed")}" href="javascript:void(0);" data-toggle="collapse" data-target="#forum_@item.guid">
                                    <div class="float-left">
                                        <i class="@item.icon"></i><span class="right-nav-text">@Html.Raw(item.title)</span>
                                    </div>
                                    <div class="float-right"><i class="icon-chevron-small-right"></i></div>
                                    <div class="clearfix"></div>
                                </a>
                                <ul class="collapse collapse-level-1 @if(ViewBag.system_menu_data != null && ViewBag.system_menu_data.category == item.guid){@Html.Raw("show")}" id="forum_@item.guid">

                                    @foreach (var subItem in ViewBag.system_menu)
                                    {
                                        if (subItem.category == item.guid && permissions.ContainsKey(subItem.guid))
                                        {

                                            string style = "";
                                            if (ViewBag.system_menu_data != null && ViewBag.system_menu_data.guid == subItem.guid && ViewBag.RetuenID == "")
                                            {
                                                style = "style=\"font-weight:bold;color:#FF0000\"";
                                            }
                                            else
                                            {
                                                string[] path = subItem.act_path.Split('/');

                                                if (path.Length >= 2 && path[1].ToString() == ViewBag.RetuenID && ViewBag.tables == subItem.tables)
                                                {
                                                    style = "style=\"font-weight:bold;color:#FF0000\"";
                                                }

                                            }

                                            <li><a href="@Url.Content("~/siteadmin/"+subItem.tables+"/" + subItem.act_path)"><span @Html.Raw(style)>@Html.Raw(subItem.title)</span></a></li>
                                        }

                                    }
                                </ul>
                            </li>

                        }

                    }

                }

                <li>
                    <hr class="mb-0">
                </li>
                <li class="navigation-header"><span>system</span><i class="icon-dots-three-horizontal"></i></li>

                @if (ViewBag.system_menu != null)
                {

                    foreach (var item in ViewBag.system_menu)
                    {
                        if (item.category == "0" && item.area == "system" && permissionsTop.IndexOf(item.guid) != -1)
                        {

                            <li>
                                <a class="@if(ViewBag.system_menu_data != null && ViewBag.system_menu_data.category != item.guid){@Html.Raw("collapsed")}" href="javascript:void(0);" data-toggle="collapse" data-target="#forum_@item.guid">
                                    <div class="float-left">
                                        <i class="@item.icon"></i><span class="right-nav-text">@Html.Raw(item.title)</span>
                                    </div>
                                    <div class="float-right"><i class="icon-chevron-small-right"></i></div>
                                    <div class="clearfix"></div>
                                </a>
                                <ul class="collapse collapse-level-1 @if(ViewBag.system_menu_data != null && ViewBag.system_menu_data.category == item.guid){@Html.Raw("show")}" id="forum_@item.guid">

                                    @foreach (var subItem in ViewBag.system_menu)
                                    {
                                        if (subItem.category == item.guid && permissions.ContainsKey(subItem.guid))
                                        {
                                            <li><a href="@Url.Content("~/siteadmin/"+subItem.tables+"/" + subItem.act_path)"><span @if (ViewBag.system_menu_data != null && ViewBag.system_menu_data.guid == subItem.guid) { @Html.Raw("style=\"font-weight:bold;color:#FF0000\"") }>@Html.Raw(subItem.title)</span></a></li>
                                        }

                                    }
                                </ul>
                            </li>

                        }

                    }

                }

                <li>
                    <hr class="mb-0">
                </li>

                @if (ViewBag.userData["username"] == "sysadmin")
                {
                    <li class="navigation-header"><span>系統工程用</span><i class="icon-dots-three-horizontal"></i></li>
                    if (ViewBag.system_menu != null)
                    {

                        foreach (var item in ViewBag.system_menu)
                        {
                            if (item.category == "0" && item.area == "admin" && permissionsTop.IndexOf(item.guid) != -1)
                            {

                                <li>
                                    <a class="@if(ViewBag.system_menu_data != null && ViewBag.system_menu_data.category != item.guid){@Html.Raw("collapsed")}" href="javascript:void(0);" data-toggle="collapse" data-target="#forum_@item.guid">
                                        <div class="float-left">
                                            <i class="@item.icon"></i><span class="right-nav-text">@Html.Raw(item.title)</span>
                                        </div>
                                        <div class="float-right"><i class="icon-chevron-small-right"></i></div>
                                        <div class="clearfix"></div>
                                    </a>
                                    <ul class="collapse collapse-level-1 @if(ViewBag.system_menu_data != null && ViewBag.system_menu_data.category == item.guid){@Html.Raw("show")}" id="forum_@item.guid">

                                        @foreach (var subItem in ViewBag.system_menu)
                                        {
                                            if (subItem.category == item.guid && permissions.ContainsKey(subItem.guid))
                                            {
                                                <li><a href="@Url.Content("~/siteadmin/"+subItem.tables+"/" + subItem.act_path)"><span @if (ViewBag.system_menu_data != null && ViewBag.system_menu_data.guid == subItem.guid) { @Html.Raw("style=\"font-weight:bold;color:#FF0000\"") }>@Html.Raw(subItem.title)</span></a></li>
                                            }

                                        }
                                    </ul>
                                </li>

                            }

                        }

                    }
                }
            </ul>
        </nav>

        <!--彈跳視窗-->
        <div class="modal fade bd-example-modal-lg" id="modal_file" tabindex="-1" role="dialog" aria-hidden="true">

            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">媒體庫</h5>
                        <button class="close" style="outline:none" type="button" data-dismiss="modal" aria-label="Close"></button><span aria-hidden="true">×</span>
                    </div>
                    <div class="modal-body">

                        <div id="elfinder"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /彈跳視窗-->
        <!-- * /  sidebar-->
        <!-- *  footer-->
        <footer class="page-footer small p-2">
            @if (HttpUtility.HtmlDecode(ViewBag.systemDataDesign) == "Minmax")
            {
                <p class="mb-0">2018 © Web Management. design by <a href="https://minmax.tw" target="_blank">@HttpUtility.HtmlDecode(ViewBag.systemDataDesign)</a></p>
            }
            else
            {
                <p class="mb-0">2018 © Web Management. design by <a href="https://ecreative.tw" target="_blank">@HttpUtility.HtmlDecode(ViewBag.systemDataDesign)</a></p>
            }
        </footer>
        <!-- * /  footer-->
    </div>
    <!-- *   js-->
    <!-- * * lib-->
    <input type="hidden" id="ajaxRoot" value="@Url.Content("~/siteadmin/ajax")" />
    <input type="hidden" id="siteadminArea" value="@Url.Content("~/siteadmin")" />
    <input type="hidden" id="projeftNo" value="@ViewBag.projeftNo" />
    <input type="hidden" id="webPath" value="@Html.Raw("/projects/public/" + ViewBag.projeftNo + "/test2/")" />


    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/lib/jquery.browser.js")
    <!--script(src=jsliburl + 'env.js')-->
    @Scripts.Render("~/Content/Siteadmin/modules/lib/popper.min.js")
    <!-- * * common-->
    <!-- * * * slimscroll 捲軸-->
    @Scripts.Render("~/Content/Siteadmin/modules/slimscroll/jquery.slimscroll.js")
    <!-- * * * bootstrap4-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap4/bootstrap.min.js")
    @*@Scripts.Render("~/Content/Siteadmin/modules/bootstrap4/js/bootstrap.bundle.min.js")*@
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap4/vendor/popper.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap4/vendor/holder.min.js")
    <!-- * * * imgLiquid 圖片縮圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/imgLiquid-master/imgLiquid-min.js")
    <!-- * * * fancybox 媒體彈跳視窗 -->
    @Scripts.Render("~/Content/Siteadmin/modules/fancybox/jquery.fancybox.min.js")
    <!-- * * * bootstrap-sweetalert 彈跳訊息視窗-->
    @Scripts.Render("~/Content/Siteadmin/modules/sweetalert/sweetalert.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/sweetalert/ui-sweetalert.min.js")
    <!-- * * * bootstrap-tabdrop 切換tab下拉選單-->
    @Scripts.Render("~/Content/Siteadmin/modules/tabdrop/js/bootstrap-tabdrop.js")
    <!-- * * * swiper 圖片輪播-->
    @Scripts.Render("~/Content/Siteadmin/modules/swiper/js/swiper.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/swiper/js/swiper.esm.bundle.js")
    <!-- * * oter 僅此專案適用-->
    @Scripts.Render("~/Content/Siteadmin/modules/highlight/highlight.min.js")
    @Scripts.Render("~/Content/Siteadmin/scripts/init.js")
    <!-- * /   js-->
    <!-- layout-js-->
    <!--ammap-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/ammap.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/maps/js/worldLow.js")
    <!--amcharts-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/amcharts.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/pie.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/serial.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/export/export.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/dataloader/dataloader.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/themes/light.js")

    <!-- /  layout-js-->
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/Content/Design/admin.js?d=" + Web.Service.FunctionService.FileModifyTime(Server.MapPath("~/Content/Design/admin.js")))
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('#rentyearchange').empty();
        $('#rentyearchange').append($('<option>').val('').text('請選擇'));
        console.log(document.getElementById("title").value);
        $.ajax({
            type: 'POST',
             url: '@Url.Action("SelectChangeBackProjM", "Siteadmin")',
            data: { project: document.getElementById("title").value, guid: document.getElementById("guid").value},
              success: function (data) {
                  console.log(data);
                      $('#rentyearchange').empty();
                      $('#rentyearchange').append($('<option>').val('').text('請選擇'));
                  if (data.renttime != "") {
                          $('#rentyearchange').empty();
                          $('#rentyearchange').append($('<option>').val('').text('請選擇'));
                          $.each(data.renttime.split(','), function (i, item) {
                              $('#rentyearchange').append($('<option>').val(item).text(item));
                          })
                      }
                      else {
                          $('#rentyearchange').empty();
                          $('#rentyearchange').append($('<option>').val('').text('請選擇'));
                  }
                  document.getElementById("rentyearchange").value = data.carstatus;
                  //$('#rentyearchange').attr('style', 'width:100%;height:38px;');
            }
           });

        $('#mileage_tw').attr('readonly', true);
        $('#mileage_tw').attr('style', 'background-color:#dddddd');
        $("#selectType").val('@ViewBag.selectType').change();

        //var ishttps = 'https:' == document.location.protocol ? true : false;
        //if (!ishttps) {
        //    var u = location.href;
        //    var t = u.replace("http", "https");
        //    location.href = t;
        //}

        $('img[usemap]').rwdImageMaps();
    });

    $(document).on('click', '#toggle_nav_btn', function (e) {
        console.log(168);
        $(".wrapper").toggleClass('slide-nav-close');
        return false;
    });

    document.getElementById("enterInput").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            dataTableSearch();
            return false;
        }
    });

    function clearSaveForm() {
        console.log(168168168);
        //document.getElementById("saveForm").reset();
        $("#saveForm").find('input[type=text],input[type=hidden]').each(function () {
            $(this).val(null);
        });
        $("#saveForm").find('select').each(function () {
            $(this).val('');
            //$(this).selectpicker('val','');
        });
        $("#saveForm").find('input[type=checkbox]').each(function () {
            $(this).prop("checked", false);
        });
    }

    function addRentSelectStyle() {
        //$('#rentyearchange').attr('style', 'width:100%;height:38px;');
    }

    function selectChangeBackProj(projid) {
        console.log(projid);
        //$('#rentyearchange').attr('style', 'width:100%;height:38px;');
        $.ajax({
            type: 'POST',
              url: '@Url.Action("SelectChangeBackProj", "Siteadmin")',
              data: { project: projid },
              success: function (data) {
                  console.log(data);
                      $('#rentyearchange').empty();
                      $('#rentyearchange').append($('<option>').val('').text('請選擇'));
                  if (data.renttime != "") {
                          $('#rentyearchange').empty();
                          $('#rentyearchange').append($('<option>').val('').text('請選擇'));
                          $.each(data.renttime.split(','), function (i, item) {
                              $('#rentyearchange').append($('<option>').val(item).text(item));
                          })
                      }
                      else {
                          $('#rentyearchange').empty();
                          $('#rentyearchange').append($('<option>').val('').text('請選擇'));
                  }
                  //$('#rentyearchange').attr('style', 'width:100%;height:38px;');
            }
           });
    }

    function dataTableSearch() {
        var sSearch = "[{'keyword': '" + $('.keywordsInput').val() + "','status': '" + $('.statusSearch :selected').val() + "','category': '" + $('.categorySearch :selected').val() + "','re_status': '" + $('.returnStatusSearch :selected').val() + "'}]";
        $(".datatables").DataTable().search(sSearch, true, false).draw();
    }

    function handleSelectFaq(selectvalue) {
        console.log(selectvalue);
        @*@ViewBag.category = @Web.Service.TablesService.getFaqCategory("insurance_company_faq","");*@

            @*$.ajax({
                url: '@Url.Action("getFaqCategory", "Siteadmin")',
                data: { tables: "insurance_company_faq", guid: selectvalue.value },
                type: 'POST',
                success: function (data) {
                    console.log(data);
                    $('.multiSelect').each(function () {
                        console.log(this);
                        $(this).multiSelect({
                            selectableOptgroup: true,
                            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='searchM...'>",
                            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='searchM...'>",
                            afterInit: function (ms) {
                                var that = this,
                                    $selectableSearch = that.$selectableUl.prev(),
                                    $selectionSearch = that.$selectionUl.prev(),
                                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                                    .on('keydown', function (e) {
                                        if (e.which === 40) {
                                            that.$selectableUl.focus();
                                            return false;
                                        }
                                    });

                                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                                    .on('keydown', function (e) {
                                        if (e.which == 40) {
                                            that.$selectionUl.focus();
                                            return false;
                                        }
                                    });

                            },
                            afterSelect: function () {
                                this.qs1.cache();
                                this.qs2.cache();
                            },
                            afterDeselect: function () {
                                this.qs1.cache();
                                this.qs2.cache();
                            }
                        });
                    });
                }
            });*@
    }

    function roundservicechange(selectvalue, checks) {
        let confirm = document.querySelector("#roundservice4")
        let confirmfree = document.querySelector("#roundservice5")
        console.log(confirmfree.checked)
        console.log(selectvalue);

        if (selectvalue == "任意險") {
            if (confirmfree.checked == true) {
                $('#roundservicefree0').prop('checked', true);
            }
            else {
                $('#roundservicefree0').prop('checked', false);
                $('#roundservicefree1').prop('checked', false);
                $('#roundservicefree2').prop('checked', false);
            }
        }
        else if (selectvalue == "保養維修") {
            if (confirm.checked == true) {
                $('#mileage_tw').attr('readonly', false);
                $('#mileage_tw').attr('style', 'background-color:#ffffff');
                $('#mileage_tw').attr('required', true);
            }
            else {
                document.getElementById("mileage_tw").value = "";
                $('#mileage_tw').attr('readonly', true);
                $('#mileage_tw').attr('style', 'background-color:#dddddd');
                $('#mileage_tw').attr('required', false);
            }
        }
        else {

        }
    }

    function roundservicefreechange() {
        console.log($('#rsfreecheck').is(':checked'))
    }
</script>