﻿<input type="hidden" name="@ViewBag.key" id="@ViewBag.key" value="">
<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="groupList">
        @Html.Raw(ViewBag.colJson["subject"])<span class="text-danger ml-1">*</span>
    </label>
    <div class="col-lg-10">
        @if (ViewBag.colJson["data"] != "")
        {
            string[] radioData = ViewBag.colJson["data"].ToString().Split('/');
            string[] radioVal = ViewBag.colJson["Val"].ToString().Split('/');

            for (int i = 0; i < radioData.Length; i++)
            {
                string checkeds = "";
                if (ViewBag.data == null)
                {
                    if (ViewBag.colJson["defaultVal"] == radioVal[i])
                    {
                        checkeds = "checked";
                    }
                }
                else
                {
                    string checkVal = "";
                    if (ViewBag.useLang == "Y")
                    {
                        checkVal = ViewBag.data[ViewBag.defLang][ViewBag.key];
                    }
                    else
                    {
                        checkVal = ViewBag.data[ViewBag.key];
                    }

                    if (checkVal.IndexOf(radioData[i]) != -1)
                    {
                        checkeds = "checked";
                    }
                    else
                    {
                        checkeds = "";
                    }

                }

                <div class="custom-control custom-checkbox custom-control-inline">
                    <input onchange="roundservicechange('@radioData[i]',@checkeds)" class="custom-control-input checkBoxField" data-key="@ViewBag.key" type="checkbox" id="@Html.Raw(ViewBag.key + i)" value="@radioData[i]" @if (checkeds == "checked") { @Html.Raw("checked") } />
                    <label class="custom-control-label" for="@Html.Raw(ViewBag.key + i)">@radioData[i]</label>
                    @if(radioData[i] == "保養維修")
                    {
                    @*<input type="text" data-key="@ViewBag.key" id="rserviceintext_@i" name="rserviceintext_@i"/>*@
                      if(checkeds == "checked")
                        {
                                        <input type="text"  name="@Html.Raw("mileage_tw")" id="@Html.Raw("mil" +
                                                                          "eage_tw")"  value="@if (ViewBag.data == null || !ViewBag.data.ContainsKey("tw"))
                {@Html.Raw(ViewBag.colJson["defaultVal"])}
                else
                {@Html.Raw(ViewBag.data["tw"]["mileage"])}" @if (ViewBag.colJson["readonly"] != null)
                { @ViewBag.colJson["readonly"].ToString() } />
                        }
                        else
                        {
                                        <input readonly style="background-color:#dddddd" type="text"  name="@Html.Raw("mileage_tw")" id="@Html.Raw("mil" +
                                                                          "eage_tw")"  value="@if (ViewBag.data == null || !ViewBag.data.ContainsKey("tw"))
                {@Html.Raw(ViewBag.colJson["defaultVal"])}
                else
                {@Html.Raw(ViewBag.data["tw"]["mileage"])}" @if (ViewBag.colJson["readonly"] != null)
                { @ViewBag.colJson["readonly"].ToString() } />
                        }
    

                    <label class="custom-control-label" for="@Html.Raw(ViewBag.key + i)">(萬公里/年，包含定期保養及耗材更換)</label>
                    }
                </div>
            }

        }


    </div>
</div>
