﻿<input type="hidden" name="@ViewBag.key" id="@ViewBag.key" value="">
<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="groupList">
        @Html.Raw(ViewBag.colJson["subject"])<span class="text-danger ml-1">*</span>
    </label>
    <div class="col-lg-10">
        @if (ViewBag.colJson["data"] != "")
        {
            string[] radioData = ViewBag.colJson["data"].ToString().Split('/');
            string[] radioVal = ViewBag.colJson["Val"].ToString().Split('/');

            for (int i = 0; i < radioData.Length; i++)
            {
                string checkeds = "";
                if (ViewBag.data == null)
                {
                    if (ViewBag.colJson["defaultVal"] == radioVal[i])
                    {
                        checkeds = "checked";
                    }
                }
                else
                {
                    string checkVal = "";
                    if (ViewBag.useLang == "Y")
                    {
                        checkVal = ViewBag.data[ViewBag.defLang][ViewBag.key];
                    }
                    else
                    {
                        checkVal = ViewBag.data[ViewBag.key];
                    }

                    if (checkVal == radioData[i])
                    {
                        checkeds = "checked";
                    }
                    else
                    {
                        checkeds = "";
                    }

                }

                <div class="custom-control custom-checkbox custom-control-inline">
                    <input class="custom-control-input checkBoxField" data-key="@ViewBag.key" type="checkbox" id="@Html.Raw(ViewBag.key + i)" value="@radioData[i]" @if (checkeds == "checked") { @Html.Raw("checked") } />
                    <label class="custom-control-label" for="@Html.Raw(ViewBag.key + i)">@radioData[i]</label>
                </div>
            }

        }


    </div>
</div>
