﻿@using Web.Service;
@using Web.Models;
@{
    List<taiwan_city> city = FunctionService.TaiwanCitys("");

    string selCity = city[0].city;
    if (ViewBag.data != null && ViewBag.data.ContainsKey(ViewBag.defLang) && ViewBag.data[ViewBag.defLang][ViewBag.key].ToString() != "")
    {
        selCity = ViewBag.data[ViewBag.defLang][ViewBag.key].ToString();
    }
    List<taiwan_city> district = FunctionService.TaiwanCitys(selCity);
}
@if (ViewBag.colJson["useLang"] == "Y")
{
    <div class="form-group row">
        <label class="col-lg-2 col-form-label" for="categoryId">
            @Html.Raw(ViewBag.colJson["subject"])<span class="text-danger ml-1">*</span>
        </label>
        <div class="col-sm-10">
            <div class="form-row">
                <div class="col-md-auto mb-2 mb-md-0">
                    <select class="bs-select form-control changeCity" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"]>
                        <option value="">請選擇縣市</option>
                        @if (city != null)
                        {
                            foreach (var item in city)
                            {

                                string selected = "";
                                if (ViewBag.data != null && ViewBag.data.ContainsKey(ViewBag.defLang) && ViewBag.data[ViewBag.defLang][ViewBag.key].ToString() == item.city)
                                {
                                    selected = " selected";
                                }

                                <option value="@item.city" @selected>@item.city</option>

                            }

                        }
                        }

                    </select>
                </div>
                <div class="col-md-auto mb-2 mb-md-0">
                    <select class="bs-select form-control" name="district" id="district" @ViewBag.colJson["required"]>
                        <option value="">請選擇區域</option>
                        @if (district != null)
                        {
                            foreach (var item in district)
                            {

                                string selected = "";
                                if (ViewBag.data != null && ViewBag.data.ContainsKey(ViewBag.defLang) && ViewBag.data[ViewBag.defLang]["district"].ToString() == item.district)
                                {
                                    selected = " selected";
                                }

                                <option value="@item.district" @selected>@item.district</option>

                            }

                        }
                        }

                    </select>
                </div>
            </div>
            </div>
            @Html.Raw(ViewBag.colJson["notes"])
        </div>


}
else
{
    <div class="form-group row">
        <label class="col-lg-2 col-form-label" for="categoryId">
            @Html.Raw(ViewBag.colJson["subject"])<span class="text-danger ml-1">*</span>
        </label>
        <div class="col-lg-5 col-xl-4">
            <select class="bs-select form-control" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"]>
                <option value="">請選擇縣市</option>
                @if (city != null)
                {
                    foreach (var item in city)
                    {

                        string selected = "";
                        if (ViewBag.data != null && ViewBag.data[ViewBag.key].ToString() == item.city)
                        {
                            selected = " selected";
                        }

                        <option value="@item.city" @selected>@item.city</option>

                    }

                }
                }

            </select>
        </div>
        @Html.Raw(ViewBag.colJson["notes"])
    </div>
}