﻿<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="subject">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
        {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-5 col-xl-4">
	 @{ string date = "";}	
	 @if (ViewBag.data == null)
               {
                  @*Html.Raw(ViewBag.colJson["defaultVal"])*@
				  date = ViewBag.colJson["defaultVal"];
               }
               else
               {
                if (ViewBag.Tables == "user")
                {
                   @*Html.Raw(System.DateTime.Parse(ViewBag.data[ViewBag.key].ToString()).ToString("yyyy/MM/dd"))*@
				   date = System.DateTime.Parse(ViewBag.data[ViewBag.key].ToString()).ToString("yyyy/MM/dd");
                }
                else
                {
                   if (ViewBag.data.ContainsKey(ViewBag.defLang) && ViewBag.data[ViewBag.defLang][ViewBag.key] != null && ViewBag.data[ViewBag.defLang][ViewBag.key].ToString() != "")
                   {
                       @*Html.Raw(System.DateTime.Parse(ViewBag.data[ViewBag.defLang][ViewBag.key].ToString()).ToString("yyyy/MM/dd"))*@
					     date = System.DateTime.Parse(ViewBag.data[ViewBag.defLang][ViewBag.key].ToString()).ToString("yyyy/MM/dd");
                   }
                }
               }
			   
        <input class="form-control datepicker-birthdate" type="text" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] value="@date" />
        <div class="_formErrorMsg"></div>
    </div>
    @Html.Raw(ViewBag.colJson["notes"])
</div>