﻿
@if (ViewBag.colJson["useLang"] == "Y")
{
    if (ViewBag.language != null)
    {
        int a = 0;
        foreach (var item in ViewBag.language)
        {
            <div class="form-group row vLay @Html.Raw("v_"+item.lang)" @if (a > 0)
                    { @Html.Raw("style=\"display:none;\"") }>
                <label class="col-lg-2 col-form-label">
                    @Html.Raw(ViewBag.colJson["subject"])
                    @if (ViewBag.colJson["required"] != "")
                    {<span class="text-danger ml-1">*</span>}
                </label>
                <div class="col-lg-10">
                    <textarea class="form-control editor" rows="5" name="@Html.Raw(ViewBag.key + "_" + item.lang)" id="@Html.Raw(ViewBag.key + "_" + item.lang)">@if (ViewBag.data == null || !ViewBag.data.ContainsKey(item.lang)) { @Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[item.lang][ViewBag.key])}</textarea>
                    <button class="btn btn-secondary getImages is-valid editorUse @Html.Raw(ViewBag.key + "_" + item.lang)" type="button" data-target="#modal_file" data-toggle="modal" data-field="@Html.Raw(ViewBag.key + "_" + item.lang)"  style="display:none;"></button>
                </div>
            </div>
            a++;
        }

    }
}
else
{
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">
            @Html.Raw(ViewBag.colJson["subject"])
            @if (ViewBag.colJson["required"] != "")
            {<span class="text-danger ml-1">*</span>}
        </label>
        <div class="col-lg-10">
            @if (ViewBag.useLang == "Y")
            {
                <textarea class="form-control editor" rows="5" name="@ViewBag.key" id="@ViewBag.key">@if (ViewBag.data == null) { @Html.Raw(ViewBag.colJson["defaultVal"])}
                else{
                    @Html.Raw(HttpUtility.HtmlEncode(ViewBag.data[ViewBag.defLang][ViewBag.key]))
                }</textarea>
            }
            else
            {
                <textarea class="form-control editor" rows="5" name="@ViewBag.key" id="@ViewBag.key">@if (ViewBag.data == null) { @Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.key])}</textarea>
            }
            <button class="btn btn-secondary getImages is-valid editorUse @Html.Raw(ViewBag.key)" type="button" data-target="#modal_file" data-toggle="modal" data-field="@Html.Raw(ViewBag.key)" style="display:none;"></button>
        </div>
    </div>
}





