﻿@if (ViewBag.colJson["useLang"] == "Y")
{
    if (ViewBag.language != null)
    {
        int a = 0;
        foreach (var item in ViewBag.language)
        {

            <div class="form-group row vLay @Html.Raw("v_"+item.lang)" @if (a > 0)
                    { @Html.Raw("style=\"display:none;\"") }>
                <label class="col-lg-2 col-form-label" for="subject">
                    @Html.Raw(ViewBag.colJson["subject"])
                    @if (ViewBag.colJson["required"] != "")
                    {<span class="text-danger ml-1">*</span>}
                </label>

                <div class="col-lg-5 col-xl-4">

                    <input class="form-control" type="text" name="@Html.Raw(ViewBag.key + "_" + item.lang)" id="@Html.Raw(ViewBag.key + "_" + item.lang)" @ViewBag.colJson["required"] onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" value="@if (ViewBag.data == null || !ViewBag.data.ContainsKey(item.lang))
                {@Html.Raw(ViewBag.colJson["defaultVal"])}
                else
                {@Html.Raw(ViewBag.data[item.lang][ViewBag.key])}" @if (ViewBag.colJson["readonly"] != null)
                { @ViewBag.colJson["readonly"].ToString() } />

                    <div class="_formErrorMsg"></div>
                </div>

                @Html.Raw(ViewBag.colJson["notes"])
            </div>
            a++;
        }
    }

}
else
{
        <div class="form-group row">
            <label class="col-lg-2 col-form-label" for="subject">
            @Html.Raw(ViewBag.colJson["subject"])
            @if(ViewBag.colJson["required"] != "")
                        {<span class="text-danger ml-1">*</span>}
            </label>

            <div class="col-lg-5 col-xl-4">
                @if (ViewBag.useLang == "Y")
                {
                    <input class="form-control" type="number" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" value="@if (ViewBag.data == null) {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.defLang][ViewBag.key])}" @if (ViewBag.colJson["readonly"] != null) { @ViewBag.colJson["readonly"].ToString() } /><div class="_formErrorMsg"></div>
                }
                else
                {
                    <input class="form-control" type="number" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" value="@if (ViewBag.data == null) {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.key])}" @if (ViewBag.colJson["readonly"] != null) { @ViewBag.colJson["readonly"].ToString() } /><div class="_formErrorMsg"></div>
                }
            </div>

              @Html.Raw(ViewBag.colJson["notes"])
        </div>
}

