﻿<div class="form-group row">
    <input class="form-control" type="hidden" id="defPassword" name="defPassword" value="@if (ViewBag.data != null) {@Html.Raw(ViewBag.data[ViewBag.key])}" >

    <label class="col-lg-2 col-form-label" for="password">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
        {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-3 col-xl-2">
        <input class="form-control" type="password" id="thepr" name="thepr" placeholder="輸入密碼">
        <div class="_formErrorMsg"></div>
    </div>

</div>
<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="_password">
        確認密碼
        @if (ViewBag.colJson["required"] != "")
    {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-3 col-xl-2">
        <input class="form-control" type="password" id="thepr_chk" placeholder="請再次輸入密碼" name="thepr_chk">
        <div class="_formErrorMsg"></div>
    </div>

    @Html.Raw(ViewBag.colJson["notes"])
</div>
