﻿<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="reviewMultiple">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
        {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-10">
        <select class="multiSelect" multiple="" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"]>
            @if (ViewBag.category != null)
            {
                foreach (var item in ViewBag.category)
                {
                    if (ViewBag.inherit == "origin" || ViewBag.inherit == "label")
                    {
                        string selected = "";
                        if(ViewBag.data != null && ViewBag.data[ViewBag.defLang][ViewBag.Key].ToString().IndexOf(item.guid) != -1)
                        {
                            selected = "selected";
                        }
                        <option value="@item.guid" @selected>@item.title</option>
                    }
                    else
                    {
                        <optgroup label="@item.Key.title">
                            @foreach (var data in item.Value)
                            {
                                string selected = "";
                                if (ViewBag.inherit == "insurance_faq" || ViewBag.inherit == "insurance_company_faq")
                                {
                                    if (ViewBag.data != null && ViewBag.data[ViewBag.defLang][ViewBag.key].ToString().IndexOf(data.guid) != -1)
                                    {
                                        selected = "selected";
                                    }
                                    <option value="@data.guid" @selected>@data.title</option>
                                }
                            }
                        </optgroup>

                    }

                }
            }
        </select>
        <div class="button-multiselect-box mt-1"><a class="select-all btn btn-secondary btn-sm" href="#">選取全部</a><a class="deselect-all btn btn-secondary btn-sm" href="#">清除選取  </a></div>
    </div>
    @Html.Raw(ViewBag.colJson["notes"])
</div>