﻿@if (ViewBag.colJson["useLang"] == "Y")
{
    <div class="form-group row">
        <label class="col-lg-2 col-form-label" for="categoryId">
            @Html.Raw(ViewBag.colJson["subject"])<span class="text-danger ml-1">*</span>
        </label>
        <div class="col-lg-5 col-xl-4">
            @if (ViewBag.key == "rentyear")
            {
                <select class="changerentyear form-control" required name="rentyearchange" id="rentyearchange" onchange="addRentSelectStyle()">
                    <option value="">請選擇</option>
                </select>

            }
            else
            {
                <select class="changerentyear form-control" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] tabindex="13" onchange="selectChangeBackProj(this.value)">
                    <option value="">請選擇</option>
                    @if (ViewBag.category != null)
                    {
                        foreach (var item in ViewBag.category)
                        {
                            if (ViewBag.colJson["prev_table"] == null)
                            {
                                string selected = "";
                                if (ViewBag.data != null && ViewBag.data.ContainsKey(item.lang) && ViewBag.data[item.lang][ViewBag.key].ToString() == item.guid)
                                {
                                    selected = " selected";
                                }
                                if (ViewBag.inherit == "user")
                                {
                                    <option value="@item.guid" @selected>@item.name</option>
                                }
                                else
                                {
                                    <option value="@item.guid" @selected>@item.title</option>
                                }
                            }
                            else
                            {
                                if (ViewBag.data[ViewBag.colJson["prev_field"].ToString()].ToString() == item.forumcategoryguid.ToString())
                                {
                                    string selected = "";
                                    if (ViewBag.data != null && ViewBag.data.ContainsKey(item.lang) && ViewBag.data[item.lang][ViewBag.key].ToString() == item.guid)
                                    {
                                        selected = " selected";
                                    }
                                    if (ViewBag.inherit == "user")
                                    {
                                        <option value="@item.guid" @selected>@item.name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.guid" @selected>@item.title</option>
                                    }
                                }
                            }

                        }
                    }
                </select>
            }
        </div>
        @Html.Raw(ViewBag.colJson["notes"])
    </div>
}
else if (ViewBag.Tables == "user")
{
    <div class="form-group row @ViewBag.key">
        <label class="col-lg-2 col-form-label" for="categoryId">
            @Html.Raw(ViewBag.colJson["subject"])
            @if (ViewBag.colJson["required"] != "")
            {<span class="text-danger ml-1">*</span>}
        </label>
        <div class="col-lg-5 col-xl-4">
            <select class="changerentyear form-control" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] tabindex="13">
                <option value="">請選擇</option>
                @if (ViewBag.category != null)
                {
                    foreach (var item in ViewBag.category)
                    {
                        if (ViewBag.colJson["prev_table"] == null)
                        {
                            string selected = "";
                            if (ViewBag.data != null && ViewBag.data[ViewBag.key].ToString() == item.guid)
                            {
                                selected = " selected";
                            }

                            if (ViewBag.Tables == "products_searchcategory" && ViewBag.key == "category")
                            {
                                var pic = "";
                                for (var i = 1; i <= int.Parse(item.level); i++)
                                {
                                    pic += "∟";
                                }

                                if (ViewBag.inherit == "user")
                                {
                                    <option value="@item.guid" @selected>@item.name</option>
                                }
                                else
                                {
                                    <option value="@item.guid" @selected>@pic @item.title</option>
                                }
                            }
                            else
                            {
                                if (ViewBag.inherit == "user")
                                {
                                    <option value="@item.guid" @selected>@item.name</option>
                                }
                                else
                                {
                                    <option value="@item.guid" @selected>@item.title</option>
                                }
                            }

                        }
                        else
                        {
                            if (ViewBag.data[ViewBag.colJson["prev_field"].ToString()].ToString() == item.forumcategoryguid.ToString())
                            {

                                string selected = "";
                                if (ViewBag.data != null && ViewBag.data[ViewBag.key].ToString() == item.guid)
                                {
                                    selected = " selected";
                                }
                                if (ViewBag.inherit == "user")
                                {
                                    <option value="@item.guid" @selected>@item.name</option>
                                }
                                else
                                {
                                    <option value="@item.guid" @selected>@item.title</option>
                                }
                            }

                        }

                    }
                }
            </select>
        </div>
        @Html.Raw(ViewBag.colJson["notes"])
    </div>
}
else
{
    <div class="form-group row @ViewBag.key">
        <label class="col-lg-2 col-form-label" for="categoryId">
            @Html.Raw(ViewBag.colJson["subject"])
            @if (ViewBag.colJson["required"] != "")
            {<span class="text-danger ml-1">*</span>}
        </label>
        <div class="col-lg-5 col-xl-4">
            <select class="changerentyear form-control" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] onchange="selectChangeBackProj(this.value)" tabindex="13">
                <option value="">請選擇</option>
                @if (ViewBag.category != null)
                {
                    foreach (var item in ViewBag.category)
                    {
                        if (ViewBag.colJson["prev_table"] == null)
                        {
                            string selected = "";
                            if (ViewBag.data != null && ViewBag.data.ContainsKey(item.lang) && ViewBag.data[item.lang][ViewBag.key].ToString() == item.guid)
                            {
                                selected = " selected";
                            }

                            if (ViewBag.Tables == "products_searchcategory" && ViewBag.key == "category")
                            {
                                var pic = "";
                                for (var i = 1; i <= int.Parse(item.level); i++)
                                {
                                    pic += "∟";
                                }

                                if (ViewBag.inherit == "user")
                                {
                                    <option value="@item.guid" @selected>@item.name</option>
                                }
                                else
                                {
                                    <option value="@item.guid" @selected>@pic @item.title</option>
                                }
                            }
                            else
                            {
                                if (ViewBag.inherit == "user")
                                {
                                    <option value="@item.guid" @selected>@item.name</option>
                                }
                                else if (ViewBag.inherit == "servicelocation_dist")
                                {
                                    <option value="@item.guid" class="distsdata @item.category" @selected>@item.title</option>
                                }
                                else
                                {
                                    <option value="@item.guid" @selected>@item.title</option>
                                }
                            }

                        }
                        else
                        {
                            if (ViewBag.data[ViewBag.colJson["prev_field"].ToString()].ToString() == item.forumcategoryguid.ToString())
                            {

                                string selected = "";
                                if (ViewBag.data != null && ViewBag.data[ViewBag.key].ToString() == item.guid)
                                {
                                    selected = " selected";
                                }
                                if (ViewBag.inherit == "user")
                                {
                                    <option value="@item.guid" @selected>@item.name</option>
                                }
                                else
                                {
                                    <option value="@item.guid" @selected>@item.title</option>
                                }
                            }

                        }

                    }
                }
            </select>
        </div>
        @Html.Raw(ViewBag.colJson["notes"])
    </div>
}