﻿@using Newtonsoft.Json;
@using Web.Controllers;


@*@if (!string.IsNullOrEmpty(Session["verify"].ToString()) && Session["verify"].ToString() == "Y")*@
@if (Session["verify"] != null && !string.IsNullOrEmpty(Session["verify"].ToString()) && Session["verify"].ToString() == "Y")
{

    <div class="form-group row"
         @if (ViewBag.data == null) { @Html.Raw("style=\"display:none\"") }
         @if (ViewBag.colJson["display"] != null && (ViewBag.colJson["display"].ToString() == "none")) { @Html.Raw("style=\"display:none\"") }>
        <label class="col-lg-2 col-form-label" for="tiptop">
            @Html.Raw(ViewBag.colJson["subject"])
            @if (ViewBag.colJson["required"] != "")
            {<span class="text-danger ml-1">*</span>}
        </label>
        <div class="col-lg-10">

            @if (ViewBag.colJson["data"] != "")
            {
                string[] radioData = ViewBag.colJson["data"].ToString().Split('/');
                string[] radioVal = ViewBag.colJson["Val"].ToString().Split('/');

                for (int i = 0; i < radioData.Length; i++)
                {
                    string checkeds = "";
                    if (ViewBag.data == null)
                    {
                        if (ViewBag.colJson["defaultVal"] == radioVal[i])
                        {
                            checkeds = " checked";
                        }
                    }
                    else
                    {
                        string checkVal = "";
                        if (ViewBag.useLang == "Y")
                        {
                            checkVal = ViewBag.data[ViewBag.defLang][ViewBag.key];
                        }
                        else
                        {
                            checkVal = ViewBag.data[ViewBag.key];
                        }

                        if (checkVal == radioVal[i])
                        {
                            checkeds = " checked";
                        }
                        else
                        {
                            checkeds = "";
                        }

                    }

                    <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" id="@Html.Raw(ViewBag.key + i.ToString())" name="@Html.Raw(ViewBag.key)" value="@radioVal[i]" @checkeds />
                        <label class="custom-control-label" for="@Html.Raw(ViewBag.key + i.ToString())">@radioData[i]</label>
                    </div>
                }
            }
        </div> @Html.Raw(ViewBag.colJson["notes"])
    </div>

    <div class="form-group row" id="verify_info_layout" @if (ViewBag.data == null) { @Html.Raw("style=\"display:none\"") }>
        <label class="col-lg-2 col-form-label">
            審核履歷

            <span class="text-danger ml-1"></span>
        </label>
        <div class="col-lg-10">
            <textarea class="form-control" rows="5" name="verify_info" id="verify_info"></textarea>
            @*@{
                    List<SiteadminController.verifyInfoModel> verifyInfoModel = new List<SiteadminController.verifyInfoModel>();
                    if (ViewBag.data != null && !string.IsNullOrEmpty(ViewBag.data[ViewBag.defLang]["verify_info"].ToString()))
                    {
                        verifyInfoModel = JsonConvert.DeserializeObject<List<SiteadminController.verifyInfoModel>>(ViewBag.data[ViewBag.defLang]["verify_info"].ToString());
                    }
                }
                @if (verifyInfoModel.Count > 0)
                {
                    <ul style=" list-style-type:decimal;">
                        @foreach (SiteadminController.verifyInfoModel item in verifyInfoModel)
                        {
                            <li>【@DateTime.Parse(item.date).ToString("yyyy-MM-dd HH:mm")】 @item.info</li>
                        }
                    </ul>
                }
                <input type="hidden" name="verify_json" id="verify_json" value='@if (ViewBag.data != null) {@Html.Raw(ViewBag.data[ViewBag.defLang]["verify_info"])}' style="" aria-invalid="false">*@
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">
            @*審核紀錄*@
            <span class="text-danger ml-1"></span>
        </label>
        <div class="col-lg-10">
            @{
                List<SiteadminController.verifyInfoModel> verifyInfoModel = new List<SiteadminController.verifyInfoModel>();
                if (ViewBag.data != null && !string.IsNullOrEmpty(ViewBag.data[ViewBag.defLang]["verify_info"].ToString()))
                //if (ViewBag.data != null && !string.IsNullOrEmpty(ViewBag.data["verify_info"].ToString()))
                {
                    verifyInfoModel = JsonConvert.DeserializeObject<List<SiteadminController.verifyInfoModel>>(ViewBag.data[ViewBag.defLang]["verify_info"].ToString());
                    //verifyInfoModel = JsonConvert.DeserializeObject<List<SiteadminController.verifyInfoModel>>(ViewBag.data["verify_info"].ToString());
                }

              
            }
            @if (verifyInfoModel.Count > 0)
            {
                <ul style=" list-style-type:decimal;">
                    @foreach (SiteadminController.verifyInfoModel item in verifyInfoModel)
                    {
                        var status = "";
                        switch (item.status)
                        {
                            case "Y":
                                status = "通過";
                                break;
                            case "E":
                                status = "尚未審核";
                                break;
                            case "N":
                                status = "退件";
                                break;
                        }
                    <li>【審核時間:@DateTime.Parse(item.date).ToString("yyyy-MM-dd HH:mm")】【審核者:@item.name】【審核狀態:@status】 【@item.info】</li>
                    }
                </ul>
            }
            <input type="hidden" name="verify_json" id="verify_json" value='@if (ViewBag.data != null) {@Html.Raw(ViewBag.data[ViewBag.defLang]["verify_info"])}' style="" aria-invalid="false">
        </div>
    </div>
}
else
{

    <div class="form-group row" @if (ViewBag.colJson["display"] != null && ViewBag.colJson["display"].ToString() == "none") { @Html.Raw("style=\"display:none\"") }>
        <label class="col-lg-2 col-form-label" for="tiptop">
            @Html.Raw(ViewBag.colJson["subject"])
            @if (ViewBag.colJson["required"] != "")
            {<span class="text-danger ml-1">*</span>}
        </label>
        <div class="col-lg-10">

            @{
                string checkVal = "E";
                string verifyText = "未審核";
                try
                {
                    if (ViewBag.useLang == "Y")
                    {
                        checkVal = ViewBag.data[ViewBag.defLang][ViewBag.key];
                    }
                    else
                    {
                        checkVal = ViewBag.data[ViewBag.key];
                    }
                }
                catch
                { }

                switch (checkVal)
                {
                    case "Y":
                        verifyText = "已通過審核";
                        break;
                    case "N":
                        verifyText = "退件";
                        break;

                }

            }

            <div class="col-lg-5 col-xl-4">
                <input type="hidden" name="@Html.Raw(ViewBag.key)" value="@checkVal" />
                @verifyText
            </div>
        </div> @Html.Raw(ViewBag.colJson["notes"])
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">
            審核履歷

            <span class="text-danger ml-1"></span>
        </label>
        <div class="col-lg-10">

            @{
                List<SiteadminController.verifyInfoModel> verifyInfoModel = new List<SiteadminController.verifyInfoModel>();
                if (ViewBag.useLang == "Y")
                {
                    if (ViewBag.data != null && !string.IsNullOrEmpty(ViewBag.data[ViewBag.defLang]["verify_info"].ToString()))
                    {
                        verifyInfoModel = JsonConvert.DeserializeObject<List<SiteadminController.verifyInfoModel>>(ViewBag.data[ViewBag.defLang]["verify_info"].ToString());
                    }
                }
                else
                {
                    if (ViewBag.data != null && !string.IsNullOrEmpty(ViewBag.data["verify_info"].ToString()))
                    {
                        verifyInfoModel = JsonConvert.DeserializeObject<List<SiteadminController.verifyInfoModel>>(ViewBag.data["verify_info"].ToString());
                    }
                }

            }
            @if (verifyInfoModel.Count > 0)
            {
            <ul style=" list-style-type:decimal;">
                @foreach (SiteadminController.verifyInfoModel item in verifyInfoModel)
                {
                    var status = "";
                    switch (item.status)
                    {
                        case "Y":
                            status = "通過";
                            break;
                        case "E":
                            status = "尚未審核";
                            break;
                        case "N":
                            status = "退件";
                            break;
                    }
                    <li>【審核時間:@DateTime.Parse(item.date).ToString("yyyy-MM-dd HH:mm")】【審核者:@item.name】【審核狀態:@status】 【@item.info】</li>
                }
            </ul>
            }
            @*<input type="hidden" name="verify_info" id="verify_info" value='' style="" aria-invalid="false">*@
            @if (ViewBag.useLang == "Y")
            {
                <input type="hidden" name="verify_json" id="verify_json" value='@if (ViewBag.data != null) {@Html.Raw(ViewBag.data[ViewBag.defLang]["verify_info"])}' style="" aria-invalid="false">
            }
            else
            {
                <input type="hidden" name="verify_json" id="verify_json" value='@if (ViewBag.data != null) {@Html.Raw(ViewBag.data["verify_info"])}' style="" aria-invalid="false">
            }
        </div>
    </div>

}