﻿<div class="text-nowrap talbe-sort text-center">
    <span class="text-hide">{$value}</span><a style="{$displaySort}" class="btn btn-link icon-arrow-long-up p-0 m-0 cahngeSortIndex" role="button" aria-pressed="true" data-guid="{$guid}" data-type="up"></a>
    <input style="{$displaySort}" class="form-control form-control-sm text-center d-inline-block cahngeSortIndexInput" id="sortIndex_{$guid}" data-guid="{$guid}" type="text" value="{$value}" /><a style="{$displaySort}" class="btn btn-link icon-arrow-long-down p-0 m-0 cahngeSortIndex" role="button" aria-pressed="true" data-guid="{$guid}" data-type="down"></a>
</div>