﻿<div class="text-center d-inline-block d-sm-block">
    <a style="{$display}" class="badge badge-pill badge-{$style}" data-title="{$title}" data-guid="{$guid}" data-status="{$status}">{$statusSubject}</a>
</div>
