﻿<footer class="animated fadeIn" id="footer" data-bind="with:menuSection">
    <address>
        <div class="top ptb50">
            <div class="containers max">
                <table class="sitemap">
                    <tbody>
                        <tr class="rows">
                            <td class="item">
                                <div class="title" data-bind="html:language.COMPANY_INFO">公司介紹</div>
                                <a href="about.html" title="認識和運" data-bind="html:language.ABOUT_EASYRENT">關於和運</a>
                                <a href="history.html" title="榮耀與紀事" data-bind="html:language.REWARDS">榮耀與記事</a>
                                <a href="https://www.104.com.tw/jobbank/custjob/index.php?r=cust&amp;j=5e704327445c3f6a30683b1d1d1d1d5f2443a363189j01" target="_blank" rel="noopener" title="徵才專區" data-bind="html:language.CAREERS">徵才專區</a>
                            </td>
                            <td class="item">
                                <div class="title" data-bind="html:language.MEMBER_SERVICE">會員專區</div>
                                <a href="login.html" title="會員登入" data-bind="html:language.SIGN_IN">會員登入</a>
                                <a href="join-member.html" title="加入會員" data-bind="html:language.SIGN_UP">會員註冊</a>
                                <a href="join-member.html" title="會員權益" data-bind="html:language.TERM_OF_USE">會員權益</a>
                            </td>
                            <td class="item">
                                <div class="title" data-bind="html:language.CONTACT_US">聯絡我們</div>
                                <a href="contact.html" title="意見信箱" data-bind="html:language.FEEDBACK">意見信箱</a>
                                <a href="faq.html" title="常見問題" data-bind="html:language.FAQS">常見問題</a>
                            </td>
                            <td class="item" rowspan="2">
                                <div class="title" data-bind="html:language.LEASING">企業長租</div>
                                <a href="firm-car-rent.html" title="租賃介紹" data-bind="html:language.LEASING_INTRO">租賃介紹</a>
                                <a href="manager.html" title="行動管家服務" data-bind="html:language.LEASING_APP">行動管家</a>
                                <a href="firm-location.html" title="服務據點" data-bind="html:language.LEASING_LOCATION">服務據點</a>
                                <a href="middles-cars.html" title="優質中古車租賃" data-bind="html:language.LEASING_VALUE_CAR">優質租賃中古車</a>
                                <a href="firm-news.html" title="活動快報" data-bind="html:language.LEASING_NEWS">活動快報</a>
                                <a href="http://hfceasyrent.hotaimotor.com.tw/WLC/LOGIN.ASP?SRCCD=LLA" title="長租客戶專區" target="_blank" rel="noopener" data-bind="html:language.LEASING_CUSTOMER,visible:location.host != ''">長租客戶專區</a>
                                <a class="title" href="https://www.irentcar.com.tw/CTCU" title="簽約廠商專區" data-bind="html:language.SIGNED">簽約廠商專區</a>
                            </td>
                            <td class="item" rowspan="2">
                                <a class="title" href="contact.html" title="聯絡我們" data-bind="html:language.CONTACT_US">聯絡我們</a>
                                <a class="title" href="cars.html" title="車款介紹" data-bind="html:language.VEHICLES">車款介紹</a>
                                <a class="title" href="prepaid-rent.html" title="線上繳款" data-bind="html:language.PAY_ONLINE">線上繳款</a>
                                <a class="title" href="privacy.html" title="隱私權聲明" data-bind="html:language.PRIVACY_POLICY">隱私權聲明</a>
                                <div class="title" data-bind="html:language.AFFILIATE"> 關係企業</div>
                                <a href="https://www.irentcar.com.tw/" title="和雲行動服務" target="_blank" rel="noopener" data-bind="html:language.HI">和雲行動服務</a>
                                <a href="https://www.easyauction.com.tw/" title="和運勁拍" target="_blank" rel="noopener" data-bind="html:language.HAA">和運勁拍</a>
                                <a href="https://www.hotcar.com.tw/" title="HOT 大聯盟" target="_blank" rel="noopener" data-bind="html:language.HOT">HOT大聯盟</a>
                                <a href="https://www.easycheck.com.tw/index.html" title="HAA 認證" target="_blank" rel="noopener" data-bind="html:language.EASYCHECK">HAA認證</a>
                                <a href="https://www.hfcfinance.com.tw/" title="和潤企業" target="_blank" rel="noopener" data-bind="html:language.HFC">和潤企業</a>
                                <a href="https://www.easylease.com.cn/" title="和運國際(大陸用車)" target="_blank" rel="noopener"><sapn data-bind="html:language.HIL">和運國際</sapn><span data-bind="html:language.HILMEMO">(大陸用車)</span></a>
                            </td>
                        </tr>
                        <tr class="rows">
                            <td class="item">
                                <div class="title" data-bind="html:language.RENT_CAR">門市租車</div>
                                <a href="index.html" title="線上預約" data-bind="html:language.RESERVATION">線上預約</a>
                                <a href="cars.html" title="車款介紹" data-bind="html:language.VEHICLES">車款介紹</a>
                                <a href="rental-features.html" title="服務特色" data-bind="html:language.FEATURES">服務特色</a>
                                <a href="rental-notice.html" title="注意事項" data-bind="html:language.NOTICE">注意事項</a>
                                <a href="rental-process.html" title="租車流程" data-bind="html:language.RENTAL_PROCESS">租車流程</a>
                                <a href="nonmember-rent-service.html" title="訪客預約租車" data-bind="html:language.BOOK_AS_GUEST">訪客預約租車</a>
                            </td>
                            <td class="item">
                                <div class="title" data-bind="html:language.CHAUFFEUR_DRIVE">我要接送</div>
                                <a href="index.html" title="預約機場接送" data-bind="html:language.AIRPORT_CHAUFFEUR_SERVICE">預約機場接送</a>
                                <a href="index.html" title="預約包車服務" data-bind="html:language.CHAUFFEUR_CHARTER_SERVICE">預約包車服務</a>
                                <a href="airport-transfer-taoyuan.html" title="車款價格" data-bind="html:language.CHAUFFEUR_SERVICE_PRICE">車款價格</a>
                                <a href="shuttle-features.html" title="服務特色" data-bind="html:language.CHAUFFEUR_SERVICE_FEATURE">服務特色</a>
                                <a href="shuttle-process.html" title="預約流程" data-bind="html:language.CHAUFFEUR_SERVICE_PROCESS">預約流程</a>
                                <a href="nonmember-shuttle-service.html" title="訪客預約接送" data-bind="html:language.BOOK_CHAUFFEUR_SERVICE_AS_GUEST">訪客預約接送</a>
                            </td>
                            <td class="item">
                                <div class="title" data-bind="html:language.DISCOUNT_INFO">優惠情報</div>
                                <a href="limited-time.html" title="限時優惠" data-bind="html:language.DISCOUNTS">限時優惠</a>
                                <a href="events.html" title="發燒優惠" data-bind="html:language.HOT_DISCOUNTS">常態優惠</a>
                                <a href="news.html" title="最新消息" data-bind="html:language.NEWS">最新消息</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="service-info">
                    <div class="item">
                        <div class="title" data-bind="html:language.SERVICE_LINE">服務專線</div><a href="tel:0800-024-550"><i></i><span class="tel">0800-024-550</span></a>
                        <p data-bind="html:language.SERVICE_LINE_MEMO">24小時網路、0800免費電話服務</p>
                    </div>
                    <div class="item">
                        <div class="title" data-bind="html:language.FOLLOW_US">關注我們</div><span class="follow">FOLLOW US</span>
                        <div class="links"><a class="circle email" href="mailto:HLC@mail.hotaimotor.com.tw" title="Mail" target="_blank" rel="noopener"><i class="icon-envelope"></i></a><a class="circle youtube" href="https://www.youtube.com/channel/UC7BbYlEsraAot0DmQGtCxkA" title="和運租車Youtube" target="_blank" rel="noopener"><i class="icon-youtube"></i></a><a class="circle line" href="https://page.line.me/oje0590g" title="和運租車LINE" target="_blank" rel="noopener"><i class="icon-line"></i></a><a class="circle fb" href="https://www.facebook.com/easyrentclub" title="和運租車 好運粉絲團" target="_blank" rel="noopener"><i class="icon-facebook-logo"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btm">
            <div class="containers max">
                <div class="copyright">Copyright © <span data-bind="html:language.HLC_NAME">和運租車股份有限公司</span>  <span class="all-right">ALL RIGHTS RESERVED</span></div>
                <div class="designby">Design by <a href="https://minmax.tw/" rel="author" target="_blank" title="雲端數位科技：頂級網站設計公司、企業雲端化系統建置與整合專家">MINMAX 網頁設計</a></div>
                <ul class="links">
                    <li><a href="privacy.html" title="隱私權政策" data-bind="html:language.PRIVACY_POLICY">隱私權聲明</a></li>
                    <li><a href="sitemap.html" title="網站地圖" data-bind="html:language.SITE_MAP">網站地圖</a></li>
                </ul>
                <div class="address">
                    <span>總公司地址：<a href="https://goo.gl/maps/xu7SCPbopvZUdfXJ9" target="_blank" rel="noopener" data-bind="html:language.HLC_ADDRESS">台北市中山區松江路121號15樓</a></span>
                    <span>電話：<a href="tel:02-25017044">02-25017044</a></span>
                    <span>傳真：02-25017044</span><span>e-mail：<a href="mailto:HLC@mail.hotaimotor.com.tw">HLC@mail.hotaimotor.com.tw</a></span>
                </div>
                <div class="sgs"><img src="./img/sgs.png" alt="SGS標章" width="82" height="80"></div>
                <div class="address">
                    <span>和運租車的短期租車服務、專車接送服務及停車場服務由和雲行動服務提供</span>
                </div>
            </div>
        </div>
    </address>
</footer>
<div class="float-right">
    <div class="quick-link d-flex flex-column text-center justify-content-center">
        <a class="txt d-inline-block" href="tel:0800024550"><i class="icon-phone-call"></i>客服專線</a>
        <hr class="w-50"><a class="txt d-inline-block" href="#talk"><i class="icon-mail2"></i>留言洽詢</a>
    </div><a class="scroll-to-top" href="#top" title="回頂端"><i class="icon-up-open d-block"></i></a>
</div>