﻿<header class="animated fadeInDown" id="header">
    <div class="container">
        <div class="logo">
            <a href="https://www.easyrent.com.tw/">
                <h1 class="hidden">和運租車</h1><img src=@Url.Content("~/styles/img/logo.svg") alt="和運租車形象圖" height="40" width="229">
            </a>
        </div>
        <div class="menu-toggle">
            <div class="bar"></div>
            <div class="bar center"></div>
            <div class="bar"></div><span>MENU</span>
        </div>
        <div class="menu">
            <div class="other-nav">
                <a href="https://www.easyrent.com.tw/join-member.html" title="會員註冊"><i class="icon-user"> </i><span class="member">會員</span><span>註冊</span></a>
                <a href="https://www.easyrent.com.tw/login.html" title="會員登入"><i class="icon-key-1"></i><span class="member">會員</span><span>登入</span></a>
                <div class="selectric-wrapper">
                    <select onchange="location = this.value;" class="selectric">
                        <option value="https://www.easyrent.com.tw/" selected="selected">正體中文</option>
                        <option value="https://www.easyrent.com.tw/">English</option>
                    </select>
                </div>
            </div>
            <div class="nav">
                <ul>
                    <li class="toggle">
                        <div class="name"><i class="icon-car"></i><span>門市租車</span></div>
                        <div class="sub-nav">
                            <ul>
                                <li><a href="https://www.easyrent.com.tw/rent-service.html" title="線上預約">線上預約</a></li>
                                <li><a href="https://www.easyrent.com.tw/cars.html" title="車款介紹">車款介紹</a></li>
                                <li><a href="https://www.easyrent.com.tw/rental-features.html" title="服務特色">服務特色</a></li>
                                <li><a href="https://www.easyrent.com.tw/rental-notice.html" title="注意事項">注意事項</a></li>
                                <li><a href="https://www.easyrent.com.tw/rental-process.html" title="租車流程">租車流程</a></li>
                                <li><a href="https://www.easyrent.com.tw/nonmember-rent-service.html" title="訪客預約租車">訪客預約租車</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="toggle">
                        <div class="name"><i class="icon-placeholder"></i><span>服務據點 </span></div>
                        <div class="sub-nav">
                            <ul>
                                <li><a href="https://www.easyrent.com.tw/location.html" title="一般據點">門市據點</a></li>
                                <li><a href="https://www.easyrent.com.tw/location.html" title="iRent據點">iRent據點</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="toggle">
                        <div class="name"><i class="icon-big-car"></i><span>車款介紹 </span></div>
                        <div class="sub-nav">
                            <ul>
                                <li><a href="https://www.easyrent.com.tw/cars.html" title="自駕租車">門市租車</a></li>
                                <li><a href="https://www.easyrent.com.tw/airport-transfer-taoyuan.html" title="附駕接送">專車接送</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="toggle">
                        <div class="name"><i class="icon-avatar"></i><span>專車接送 </span></div>
                        <div class="sub-nav">
                            <ul>
                                <li><a href="https://www.easyrent.com.tw/shuttle-service.html" title="預約機場接送">預約機場接送</a></li>
                                <li><a href="https://www.easyrent.com.tw/chartered-service.html" title="預約包車服務">預約包車服務</a></li>
                                <li><a href="https://www.easyrent.com.tw/airport-transfer-taoyuan.html" title="車款價格">車款價格</a></li>
                                <li><a href="https://www.easyrent.com.tw/shuttle-features.html" title="服務特色">服務特色</a></li>
                                <li><a href="https://www.easyrent.com.tw/shuttle-process.html" title="預約流程">預約流程</a></li>
                                <li><a href="https://www.easyrent.com.tw/nonmember-shuttle-service.html" title="訪客預約接送">訪客預約接送</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="toggle">
                        <div class="name"><i class="icon-coin"></i><span>線上繳款</span></div>
                        <div class="sub-nav">
                            <ul>
                                <li><a href="https://www.easyrent.com.tw/prepaid-rent.html" title="線上繳款">線上繳款</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="toggle">
                        <div class="name"><i class="icon-post-it"></i><span>優惠情報</span></div>
                        <div class="sub-nav">
                            <ul>
                                <li><a href="https://www.easyrent.com.tw/limited-times.html" title="限時優惠">限時優惠</a></li>
                                <li><a href="https://www.easyrent.com.tw/events.html" title="發燒優惠">常態優惠</a></li>
                                <li><a href="https://www.easyrent.com.tw/news.html" title="最新消息">最新消息</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="toggle pc-hide">
                        <div class="name"><i class="icon-rental"></i><span>企業長租</span></div>
                        <div class="sub-nav pc-hide">
                            <ul>
                                <li><a href="https://www.easyrent.com.tw/firm-car-rent.html" title="租賃介紹">租賃介紹</a></li>
                                <li><a href="https://www.easyrent.com.tw/manager.html" title="行動管家服務">行動管家</a></li>
                                <li><a href="https://www.easyrent.com.tw/firm-location.html" title="服務據點">服務據點</a></li>
                                <li><a href="https://www.easyrent.com.tw/middles-cars.html" title="優質中古車租賃">優質租賃中古車</a></li>
                                <li><a href="https://www.easyrent.com.tw/firm-news.html" title="活動快報">活動快報</a></li>
                                <li><a href="http://hfceasyrent.hotaimotor.com.tw/WLC/LOGIN.ASP?SRCCD=LLA" title="長租客戶專區" target="_blank" rel="noopener">長租客戶專區</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="toggle pc-hide">
                        <div class="name"><i class="icon-building"></i><span>公司介紹</span></div>
                        <div class="sub-nav pc-hide">
                            <ul>
                                <li><a href="https://www.easyrent.com.tw/about.html" title="認識和運">關於和運</a></li>
                                <li><a href="https://www.easyrent.com.tw/history.html" title="榮耀與紀事">榮耀與紀事</a></li>
                                <li><a href="https://www.104.com.tw/company/wbpde6o" target="_blank" rel="noopener" title="徵才專區">徵才專區</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="toggle pc-hide">
                        <div class="name"><i class="icon-mail"></i><span>聯絡我們</span></div>
                        <div class="sub-nav pc-hide">
                            <ul>
                                <li><a href="https://www.easyrent.com.tw/contact.html" title="意見信箱">意見信箱</a></li>
                                <li><a href="https://www.easyrent.com.tw/faq.html" title="常見問題">常見問題</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="search">
                <form>
                    <i class="icon-search"></i>
                    <input type="text">
                    <input class="btn gary-gradient" type="button" value="GO" onclick="location.href='https://www.easyrent.com.tw/search.html?keyword='">
                </form>
            </div>
        </div>
        <div class="sub-menu gary-gradient-lg">
            <div class="container">
                <div class="slogan-box">
                    <div class="pic jqimgFill"><img src="@Url.Content("~/styles/img/submenu-pic.jpeg")" alt="和運租車形象圖"></div><em class="slogan">顧客為先 專業為本</em><span class="slogan-en"><img src="@Url.Content("~/styles/img/easy-rent.png")" alt="和運租車形象圖"></span>
                </div>
            </div>
        </div>
    </div>
</header>