﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>和運租車-個人長租</title>
    <meta name="description" content="@Html.Raw(!string.IsNullOrEmpty(ViewBag.description) ? ViewBag.description : ViewBag.description)" />
    <meta name="keywords" content="@Html.Raw(!string.IsNullOrEmpty(ViewBag.keywords) ? ViewBag.keywords : ViewBag.keywords)" />
    <meta name="copyright" content="和運租車-個人長租">
    <meta name="author" content="和運租車-個人長租">
    <link rel="shortcut icon" href="~/styles/img/base/favicon.ico">
    <link rel="apple-touch-icon" href="~/styles/img/base/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/styles/img/base/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/styles/img/base/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/styles/img/base/apple-icon-152x152.png">
    <link rel="canonical" href="">
    <link rel="alternate" hreflang="zh" href="">
    <link rel="alternate" hreflang="zh-Hant" href="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="和運租車-個人長租">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="和運租車-個人長租">
    <meta property="og:image租賃介紹" content="./img/base/ogImage.jpg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="和運租車-個人長租">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="./img/base/ogImage.jpeg">
    <meta name="twitter:url" content="">

    <link rel="stylesheet" type="text/css" href="~/styles/css/app.css" />

</head>
<body>
    <div class="loading-content" id="preloader">
        <div class="loading">
            <p>loading</p><span></span>
        </div>
    </div>
    <div class="page-wrapper">
        @Html.Partial("_Header")
        @RenderBody()

        @Html.Partial("_Footer")
        @Html.Partial("_FooterJS")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
